NODE_ENV=development # development | production

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=fernando
DB_PASSWORD=123456789
DB_NAME=rentcheck_db

ADMIN_USERNAME='Admin RentCheck'
ADMIN_EMAIL='admin@rentcheck.com'
ADMIN_PASSWORD='123456'

CORS_ORIGIN=["http://localhost:5173", "http://localhost:4200"]
JWT_SECRET=secretKey